webparsing/src/main/resources/data/Medicines.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.epam.com/medicines"
        xmlns:md="http://www.epam.com/medicines" elementFormDefault="qualified">

    <element name="form" type="md:FormType" abstract="true"/>
    <element name="tablets" type="md:Tablets" substitutionGroup="md:form"/>
    <element name="drops" type="md:Drops" substitutionGroup="md:form"/>
    <element name="powder" type="md:Powder" substitutionGroup="md:form"/>
    <element name="ointment" type="md:Ointment" substitutionGroup="md:form"/>

    <element name="medicines">
        <complexType>
            <sequence>
                <element name="drug" minOccurs="16" maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element type="string" name="name"/>
                            <element name="group">
                                <simpleType>
                                    <restriction base="string">
                                        <enumeration value="Analgesics"/>
                                        <enumeration value="Antibiotics"/>
                                        <enumeration value="Antiseptics"/>
                                        <enumeration value="Hormones"/>
                                        <enumeration value="Stimulants"/>
                                        <enumeration value="Vitamins"/>
                                    </restriction>
                                </simpleType>
                            </element>
                            <element name="analogs" minOccurs="0">
                                <complexType>
                                    <sequence>
                                        <element name="analog" type="string" maxOccurs="unbounded"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element name="versions">
                                <complexType>
                                    <sequence>
                                        <element ref="md:form" maxOccurs="4"/>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                        <attribute name="id" use="required">
                            <simpleType>
                                <restriction base="ID">
                                    <pattern value="(drug)[1-9][\d]{0,5}"/>
                                </restriction>
                            </simpleType>
                        </attribute>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>

    <complexType name="FormType"/>

    <complexType name="Certificate">
        <sequence>
            <element name="number">
                <simpleType>
                    <restriction base="positiveInteger">
                        <pattern value="[\d]{9}"/>
                    </restriction>
                </simpleType>
            </element>
            <element type="date" name="issue_date"/>
            <element type="date" name="expiration_date"/>
            <element type="string" name="registration"/>
        </sequence>
    </complexType>

    <complexType name="PackageType">
        <sequence>
            <element type="decimal" name="price"/>
        </sequence>
    </complexType>

    <complexType name="TabletPackage">
        <complexContent>
            <extension base="md:PackageType">
                <sequence>
                    <element name="package_type" type="md:PackType" default="Plastic case"/>
                    <element name="quantity">
                        <simpleType>
                            <restriction base="integer">
                                <minInclusive value="0"/>
                                <maxInclusive value="1000"/>
                            </restriction>
                        </simpleType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="LiquidPackage">
        <complexContent>
            <extension base="md:PackageType">
                <sequence>
                    <element name="package_type" type="md:VolumeType" default="Drop counter"/>
                    <element name="volume">
                        <simpleType>
                            <restriction base="integer">
                                <minInclusive value="0"/>
                                <maxInclusive value="500"/>
                            </restriction>
                        </simpleType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PowderPackage">
        <complexContent>
            <extension base="md:PackageType">
                <sequence>
                    <element name="package_type" type="md:PowderType" default="Plastic bottle"/>
                    <element name="weight">
                        <simpleType>
                            <restriction base="integer">
                                <minInclusive value="0"/>
                                <maxInclusive value="250"/>
                            </restriction>
                        </simpleType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="OintmentPackage">
        <complexContent>
            <extension base="md:PackageType">
                <sequence>
                    <element name="package_type" type="md:OintmentType" default="Tube"/>
                    <element name="weight">
                        <simpleType>
                            <restriction base="integer">
                                <minInclusive value="0"/>
                                <maxInclusive value="500"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element type="positiveInteger" name="concentration"/>                    
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="PackType">
        <restriction base="string">
            <enumeration value="Plastic bottle"/>
            <enumeration value="Blister pack"/>
            <enumeration value="Plastic case"/>
        </restriction>
    </simpleType>

    <simpleType name="VolumeType">
        <restriction base="string">
            <enumeration value="Drop counter"/>
            <enumeration value="Ampule"/>
            <enumeration value="Glass bottle"/>
        </restriction>
    </simpleType>

    <simpleType name="PowderType">
        <restriction base="string">
            <enumeration value="Plastic bottle"/>
            <enumeration value="Aluminum bag"/>
            <enumeration value="Sachet"/>
        </restriction>
    </simpleType>

    <simpleType name="OintmentType">
        <restriction base="string">
            <enumeration value="Tube"/>
            <enumeration value="Ointment package"/>
        </restriction>
    </simpleType>

    <group name="pharmacyGroup">
        <sequence>
            <element name="certificate" type="md:Certificate"/>
            <element name="dosage" type="decimal"/>
        </sequence>
    </group>
    
    <complexType name="Tablets">
        <complexContent>
            <extension base="md:FormType">
                <sequence>
                    <element name="pharmacy" maxOccurs="unbounded">
                        <complexType>
                            <sequence>
                                <group ref="md:pharmacyGroup"/>
                                <element name="package" type="md:TabletPackage"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Drops">
        <complexContent>
            <extension base="md:FormType">
                <sequence>
                    <element name="pharmacy" maxOccurs="unbounded">
                        <complexType>
                            <sequence>
                                <group ref="md:pharmacyGroup"/>
                                <element name="package" type="md:LiquidPackage"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Powder">
        <complexContent>
            <extension base="md:FormType">
                <sequence>
                    <element name="pharmacy" maxOccurs="unbounded">
                        <complexType>
                            <sequence>
                                <group ref="md:pharmacyGroup"/>
                                <element name="package" type="md:PowderPackage"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="Ointment">
        <complexContent>
            <extension base="md:FormType">
                <sequence>
                    <element name="pharmacy" maxOccurs="unbounded">
                        <complexType>
                            <sequence>
                                <group ref="md:pharmacyGroup"/>
                                <element name="package" type="md:OintmentPackage"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
