webparsing/src/main/resources/data/Medicines.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.epam.com/medicines"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="medicines">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="drug" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element name="group">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Analgesics"/>
                                        <xs:enumeration value="Antibiotics"/>
                                        <xs:enumeration value="Antiseptics"/>
                                        <xs:enumeration value="Hormones"/>
                                        <xs:enumeration value="Stimulants"/>
                                        <xs:enumeration value="Vitamins"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="analogs" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="analog" type="xs:string" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="versions">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="tablets" type="Tablets" minOccurs="0"/>
                                        <xs:element name="drops" type="Drops" minOccurs="0"/>
                                        <xs:element name="powder" type="Powder" minOccurs="0"/>
                                        <xs:element name="ointment" type="Ointment" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id">
                            <xs:simpleType>
                                <xs:restriction base="xs:positiveInteger">
                                    <xs:pattern value="([\d]){3}"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Form">
        <xs:sequence>
            <xs:element name="pharmacy" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="certificate" type="Certificate"/>
                        <xs:element name="package" type="TabletPackage"/>
                        <xs:element name="dosage" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Certificate">
        <xs:sequence>
            <xs:element type="xs:positiveInteger" name="number"/>
            <xs:element type="xs:date" name="issue_date"/>
            <xs:element type="xs:date" name="expiration_date"/>
            <xs:element type="xs:string" name="registration"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TabletPackage">
        <xs:sequence>
            <xs:element name="packageType" type="PackType"/>
            <xs:element name="quantity">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:enumeration value="20"/>
                        <xs:enumeration value="50"/>
                        <xs:enumeration value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:decimal" name="price"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LiquidPackage">
        <xs:sequence>
            <xs:element name="packageType" type="VolumeType"/>
            <xs:element name="volume">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:enumeration value="20"/>
                        <xs:enumeration value="50"/>
                        <xs:enumeration value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:decimal" name="price"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PowderPackage">
        <xs:sequence>
            <xs:element name="packageType" type="PowderType"/>
            <xs:element name="weight">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:enumeration value="20"/>
                        <xs:enumeration value="50"/>
                        <xs:enumeration value="100"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:decimal" name="price"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OintmentPackage">
        <xs:sequence>
            <xs:element name="packageType" type="OintmentType"/>
            <xs:element name="weight">
                <xs:simpleType>
                    <xs:restriction base="xs:positiveInteger">
                        <xs:enumeration value="150"/>
                        <xs:enumeration value="200"/>
                        <xs:enumeration value="250"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="xs:positiveInteger" name="concentration"/>
            <xs:element type="xs:decimal" name="price"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PackType">
        <xs:simpleContent>
            <xs:restriction base="xs:string">                
                <xs:enumeration value="Plastic bottle"/>
                <xs:enumeration value="Blister pack"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="VolumeType">
        <xs:simpleContent>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Drop counter"/>
                <xs:enumeration value="Ampule"/>
                <xs:enumeration value="Glass bottle"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PowderType">
        <xs:simpleContent>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Plastic bottle"/>
                <xs:enumeration value="Aluminum bag"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="OintmentType">
        <xs:simpleContent>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Tube"/>
                <xs:enumeration value="Ointment package"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="Tablets">
        <xs:complexContent>
            <xs:extension base="Form">
                <xs:sequence>
                    <xs:element name="pharmacy" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="certificate" type="Certificate"/>
                                <xs:element name="package" type="TabletPackage"/>
                                <xs:element name="dosage" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Drops">
        <xs:complexContent>
            <xs:extension base="Form">
                <xs:sequence>
                    <xs:element name="pharmacy" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="certificate" type="Certificate"/>
                                <xs:element name="package" type="LiquidPackage"/>
                                <xs:element name="dosage" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Powder">
        <xs:complexContent>
            <xs:extension base="Form">
                <xs:sequence>
                    <xs:element name="pharmacy" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="certificate" type="Certificate"/>
                                <xs:element name="package" type="PowderPackage"/>
                                <xs:element name="dosage" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Ointment">
        <xs:complexContent>
            <xs:extension base="Form">
                <xs:sequence>
                    <xs:element name="pharmacy" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="certificate" type="Certificate"/>
                                <xs:element name="package" type="OintmentPackage"/>
                                <xs:element name="dosage" type="xs:decimal"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:element name="form" type="Form" abstract="true"/>
    <xs:element name="tablets" type="Tablets" substitutionGroup="form"/>
    <xs:element name="drops" type="Drops" substitutionGroup="form"/>
    <xs:element name="powder" type="Powder" substitutionGroup="form"/>
    <xs:element name="ointment" type="Ointment" substitutionGroup="form"/>
</xs:schema>
